p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    color: red;
    margin: 0;
    padding-top: 79px;
    padding-left: 97px;
    padding-right: 25px;
    background-color: rgb(246, 246, 246);

  }
