.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
}
.sidebar-link {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 3px;
    
}
.sidebar-link:hover {
    background-color: rgb(235, 233, 233);
}

.sidebar-link div {
    font-family: Arial;
    font-size: 10px;
}